.searchbar {
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form {
    display: flex;
    align-items: center;
    
}

.button {
    background: linear-gradient(45deg, #3498db, #b3b7f1, #3498db);
    background-size: 200% 200%;
    background-position: bottom left;
    transition: background-position 0.5s;
    color: #f8f5f5;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
    
.button:hover {
    background-position: top right;
}

.input {
    flex: 1;
    margin-left: 10px;
    margin-right: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}